// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
}

.cover {
  background: url(http://www.blueskyamusements.com/images/site/template/bkg-sky.jpg) no-repeat 50% 50% fixed;
  background-size: auto;
}


h2, p {
  color: #f4f4f4 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
  margin-bottom: 3rem;
}


.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 10px;
}

.card{
  background-color: #2b5cec73!important;
  width: 25vw;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}
